<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <meta charset="utf-8"/>
    <title>狂神说Java-ES仿京东实战</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="pg">
<div class="page" id="app">
    <div id="mallPage" class=" mallist tmall- page-not-market ">

        <!-- 头部搜索 -->
        <div id="header" class=" header-list-app">
            <div class="headerLayout">
                <div class="headerCon ">
                    <!-- Logo-->
                    <h1 id="mallLogo">
                        <img th:src="@{/images/jdlogo.png}" alt="">
                    </h1>

                    <div class="header-extra">

                        <!--搜索-->
                        <div id="mallSearch" class="mall-search">
                            <form name="searchTop" class="mallSearch-form clearfix">
                                <fieldset>
                                    <legend>天猫搜索</legend>
                                    <div class="mallSearch-input clearfix">
                                        <div class="s-combobox" id="s-combobox-685">
                                            <div class="s-combobox-input-wrap">
                                                <input v-model="keyword" type="text" autocomplete="off" value="dd"
                                                       id="mq"
                                                       class="s-combobox-input" aria-haspopup="true">
                                            </div>
                                        </div>
                                        <button type="submit" @click.prevent="searchKey" id="searchbtn">搜索</button>
                                    </div>
                                </fieldset>
                            </form>
                            <ul class="relKeyTop">
                                <li><a>狂神说Java</a></li>
                                <li><a>狂神说前端</a></li>
                                <li><a>狂神说Linux</a></li>
                                <li><a>狂神说大数据</a></li>
                                <li><a>狂神聊理财</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 商品详情页面 -->
        <div id="content">
            <div class="main">
                <!-- 品牌分类 -->
                <form class="navAttrsForm">
                    <div class="attrs j_NavAttrs" style="display:block">
                        <div class="brandAttr j_nav_brand">
                            <div class="j_Brand attr">
                                <div class="attrKey">
                                    品牌
                                </div>
                                <div class="attrValues">
                                    <ul class="av-collapse row-2">
                                        <li><a href="#"> 狂神说 </a></li>
                                        <li><a href="#"> Java </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- 排序规则 -->
                <div class="filter clearfix">
                    <a class="fSort fSort-cur">综合<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">人气<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">新品<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">销量<i class="f-ico-arrow-d"></i></a>
                    <a class="fSort">价格<i class="f-ico-triangle-mt"></i><i class="f-ico-triangle-mb"></i></a>
                </div>

                <!-- 商品详情 -->
                <div class="view grid-nosku">

                    <div class="product" v-for="result in results">
                        <div class="product-iWrap">
                            <!--商品封面-->
                            <div class="productImg-wrap">
                                <a class="productImg">
                                    <img :src="result.image">
                                </a>
                            </div>
                            <!--价格 v-if="result.price.price!==null"-->
                            <p class="productPrice">
                                <em>{{result.price.price}}</em>
                            </p>
                            <!--标题-->
                            <p class="productTitle">
                                <a v-html="result.title">
                                </a>
                                <a :href="result.goodurl"></a>
                            </p>
                            <!-- 店铺名 -->
                            <div class="productShop">
                                店铺：<span>{{result.detail}}</span>
                            </div>
                            <!-- 成交信息 -->
                            <p class="productStatus">
                                <span>月成交<em>999笔</em></span>
                                <span>评价 <a>3</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="laypage"></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/layui/2.6.8/css/layui.css"/>
<!-- 引入 vue.js -->
<script src="../static/js/vue.min.js"></script>
<!-- 引入 laypage.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/layui/2.6.8/layui.js"></script>
<!-- 引入 axios.js -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入 jquery.js -->
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    let vm = new Vue({
        el: "#app",
        data: { //函数对象：用来接收数据(数据承载模型)
            results: [],
            pageNum: 1, //设置首页页码
            pageSize: 20,  //设置一页显示的条数
            total: 0,    //总条数
            pages: 1, //一共多少页
            keyword:""
        },
        methods: {
            searchKey: function () {
                if("" == this.keyword) {
                    var keyword = "一加";
                }
                else {
                    var keyword = this.keyword;
                }
                axios.get("/getKeyData/"+keyword, {
                    params: {
                        pageNum: this.pageNum,
                        pageSize: this.pageSize
                    }
                }).then(res => {
                    this.results = res.data;//res.data.records;
                    this.pages = 3;//res.data.pages;
                    this.total = res.data[1].length;//设置总条数res.data.total;
                    console.info(res);
                    if (this.pageNum == 1) {
                        this.showPage();
                    }
                }).catch(error => {
                    console.log(error);
                });
/*                axios.get("/getLenth").then(reu => {

                    console.info(reu);
                }).catch(error => {
                    console.log(error);
                });*/
            },
            showPage: function () {
                layui.use('laypage', function () {
                    let laypage = layui.laypage;
                    //执行一个laypage实例
                    laypage.render({
                        elem: 'laypage',  //注意laypage是 ID，不用加 # 号
                        count: vm.total, //数据总数，从服务端得到
                        limit: vm.pageSize,   //每页条数设置
                        limits: [10, 20, 30],			//可选每页显示条数
                        curr: 1,                      //起始页
                        groups: 3,                     //连续页码个数
                        prev: '上一页',               //上一页文本
                        next: '下一页',                //下一页文本
                        first: 1,                    //首页文本
                        last: vm.pages,                   //尾页文本
                        layout: ['prev', 'page', 'next', 'limit', 'refresh', 'skip'],
                        jump: function (obj, first) {  //触发分页后的回调
                            //obj包含了当前分页的所有参数，第一次加载first为true
                            console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            console.log(obj.limit); //得到每页显示的条数
                            vm.pageNum = obj.curr;  //改变当前页码
                            vm.pageSize = obj.limit;
                            //首次不执行，一定要加此判断，否则初始时会无限刷新
                            if (!first) {
                                vm.searchKey();  //加载数据
                            }
                        }
                    });
                });
            }
        },
        created: function () {
            this.searchKey();
        }
    });
</script>
</body>
</html>
